/* :root {
    --black: #1c1d20;
    --dark: #242527;
    --dark-light: #3b3b3b;
    --red: #ed3b44;
    --white: #fafafa;
    --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/*------------------Fist part---------------------- */

.about-me-section {
    padding-bottom: 64px;
}

.presentation-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}

.presentation-summary{
    border-radius: 24px;
    background: var(--dark);
    padding: 32px 32px 272px 32px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.color-word{
    color: var(--red);
}

.grey-word{
    color: rgba(250, 250, 250, 0.4);;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.img-about-me{
    border-radius: 24px;
    height: 100%;
}

/*------------------Second part---------------------*/

body .information-item .information-item-button{
    font-family: 'Inter Tight', sans-serif;
    background-color: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
    border: none;
    padding: 0 59px 12px 0; 
}

.information-container>.information-item{
    margin-top: 0;
    background-color: inherit;
    padding-bottom: 32px;
    border: none;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.information-description-item{
    font-family: 'Inter Tight', sans-serif;
    color: var(--white);
    background-color: var(--black);
}

body .information-item .ac-panel .ac-text {
    color: var(--white);
    background-color: var(--black);
    padding: 12px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
}

.information-container .ac .information-item-button::after {
    content: "";
} 

.information-container .ac.is-active>.ac-header .information-item-button::after {
    content: ""; 
}

.information-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 32px;
}

.description-open-icon{
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 50%;
    padding: 9px;
    width: 36px;
    height: 36px;

    text-align: center;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 0px;
    transition: transform var(--timing-function);
}

.information-container .ac.is-active>.ac-header .description-open-icon {
    transform: translateY(-50%) rotate(180deg);
}

/*------------------Third part---------------------- */

.hard-skills-container-wrapper {
    position: relative;
}

.hard-skills-container{
    max-width: 130px;
    height: 130px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.hard-skills-list {
    display: flex;
    justify-content: start;
    max-width: 260px;
    padding: 0;
    margin: 0;
    transition: transform var(--timing-function);
}

.hard-skills-list .hard-skills-item {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 50%;
    max-width: 130px;
    height: 130px;
    text-align: center;
    font-size: 16px;
    flex-shrink: 0;
}

.hard-skills-list .hard-skills-item:first-child {
    background-color: var(--red);
    border: none;
}

.hard-skills-container>.hard-skills-navigation-button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 999;
    margin-top: 0;
}

.hard-skills-container>.hard-skills-navigation-button::after{
    content: none;
}

.hard-skills-navigation-button .arrow-right{
    width: 20px;
    height: 20px;
    stroke: var(--dark-light);
    fill: transparent;
    rotate: 180deg;
}

.hard-skills-navigation-button-next:hover .arrow-right,
.hard-skills-navigation-button-next:focus .arrow-right {
    stroke: var(--white);
}

.hard-skills-navigation-button-next {
    background: none;
    padding: 0;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    line-height: 0
}

.hard-skills-item {
    padding: 20px;
}

.hard-skills-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: var(--white);
}

@media screen and (min-width: 375px) {

    /*------------------Fist part---------------------- */

    .presentation-summary {
            font-size: 24px;
    }

    /*-----------------Third part---------------------- */

    .hard-skills-container {
        max-width: 260px;
        height: 130px;
    }

    .hard-skills-navigation-button .arrow-right {
        width: 28px;
        height: 28px;
    }
}

@media screen and (min-width: 768px) {

    /*------------------Fist part---------------------- */

    .about-me-section {
        padding-bottom: 96px;
    }

    .presentation-container{
        margin-bottom: 64px;
    }

    .presentation-summary{
        padding: 64px 64px 436px 64px;
        font-size: 38px;
        line-height: 1.05;
    }

    .img-about-me, .presentation-summary {
        flex-basis: 50%;
    }

    /*------------------Second part---------------------*/

    body .information-item .information-item-button {
            padding: 0 59px 16px 0;
    }

    .description-open-icon {
        width: 40px;
        height: 40px;
    }

    .information-container {
        gap: 32px;
        margin-bottom: 64px;
    }

    /*------------------Third part---------------------- */

    .hard-skills-list {
        max-width: 600px;
    }
    
    .hard-skills-container {
        max-width: 600px;
        height: 200px;
    }
    
    .hard-skills-list .hard-skills-item {
        min-width: 200px;
        height: 200px;
    }

    .hard-skills-navigation-button .arrow-right {
        width: 40px;
        height: 40px;
    }

    .hard-skills-text {
        font-size: 20px;
    }
}

@media screen and (min-width: 1440px) {
    /*------------------Fist part---------------------- */

    .about-me-section {
        padding-bottom: 82px;
    }

    .presentation-container {
        flex-direction: row;
        margin-bottom: 96px;
    }

    /*------------------Second part---------------------*/

    body .information-item .ac-panel{
        padding-right: 68px;
        padding-top: 8px;
        width: 612px;
        margin-left: auto;
    }

    /*------------------Third part---------------------- */

    .hard-skills-container {
        max-width: 1200px;
    }

    .hard-skills-navigation-button{
        right: 32px;
    }
    
    .hard-skills-container-wrapper{
        padding: 0 32px 0 32px;
    }
}
