.benefits-section {
  padding-bottom: 64px;
}

.benefits-title {
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.benefist-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.benefist-item {
  border-radius: 20px;
  padding: 24px;
  background-color: #242527;
}
.benefist-icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 64px;
}
.benefits-icon {
  width: 48px;
  height: 48px;
}

.benefist-item-title {
  font-weight: 600;
  line-height: 1.5;
  font-size: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}
.benefist-information {
  max-width: 296px;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}
.benefist-button {
  width: 187px;

  text-align: center;
  line-height: normal;
}
.benefist-button:hover,
.benefist-button:focus {
  border-color: #fafafa;
}

.benefist-button-link {
  letter-spacing: -0.02em;
  color: #fafafa;

  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px 36px;
}
/*=================================== TABLES STYLE 768 START ==================*/
@media screen and (min-width: 768px) {
  .benefits-section {
    padding-bottom: 96px;
  }

  .benefist-menu {
    width: 704px;
    gap: 16px 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 64px;
  }
}

/*=================================== TABLES STYLE FINISH ==================*/

/*=================================== DESKTOP STYLE 1440 START==================*/
@media screen and (min-width: 1440px) {
  .benefits-section {
    padding-bottom: 164px;
  }

  .benefits-container {
    display: flex;
    justify-content: space-between;
  }

  .benefits-title {
    margin: 0;
  }
}
/*=================================== DESKTOP STYLE FINISH ==================*/
