.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.covers-section {
    background-image: url(/img/covers/vectors@1x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.covers-container {
    position: relative;
    display: flex;
    max-height: 508px;
    justify-content: center;
    overflow: hidden;

}

.covers-list {
    display: flex;
    column-gap: 40px;
    margin-bottom: 40px;
    transform: rotate(17deg);
}

.covers-list-item {
    width: 283px;
    height: 163px;
    animation-name: inViewport;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.cover-photo {
    width: 283px;
    height: 163px;
    object-fit: cover;
}

@keyframes inViewport {
    0% {
        transform: translateX(50%);
    }

    50% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(50%);
    }
}

/* MEDIA */
@media screen and (min-width: 768px) {

    .covers-container {
        max-height: 960px;
    }

    .covers-list-item {
        width: 544px;
        height: 314px;
    }

    .cover-photo {
        width: 544px;
        height: 314px;
    }

    .covers-list {
        column-gap: 60px;
        margin-bottom: 60px;
    }
}

@media

/* only for retina displays */
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .covers-section {
        background-image: url(/img/covers/vectors@2x.png);
    }
}