.faq-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
}

.faq-item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #2b2b2b;
    /* border-radius: 5px; */
}

.faq-item p {
    margin: 0;
    color: #fff;
}

.faq-content {
    display: none;
    margin-top: 10px;
    color: #fff;
}

.faq-item button {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.faq-item button:hover {
    color: #ccc;
}