/* ----- MOBAIL ----- */
.hero {
  background-image: url(/img/hero/hero-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding-top: 281px;
  padding-bottom: 32px;
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: url(/img/hero/hero-mobile@2x.png);
  }
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 212px;
  align-items: center;
}
.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: left;
}
.hero-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}
.hero-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 9px 8px;
  max-height: 37px;
  max-width: 37px;
  font-size: 13px;
  letter-spacing: -0.02em;
  transition: border-color var(--timing-function);
}
.hero-link {
  padding: 11px;
}
.link-email {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 8px 11px;
  max-width: 178px;
}
.hero-list-item:hover,
.hero-list-item:focus {
  border-color: var(--white);
}
.hero-list-item:first-child .hero-link {
  padding: 11px 12px;
}
.hero-list-item:nth-last-child(2) .hero-link {
  padding: 11px 10px;
}
.hero-list-item:last-child .hero-link {
  padding: 11px 18px;
}

@media screen and (max-width: 374px) {
  .hero-title {
    font-size: 42px;
  }
  .hero-list {
    gap: 0;
  }
  .hero-list-item {
    font-size: 12px;
  }
  .hero-list-item:last-child .hero-link {
    padding: 11px 23px;
  }
  .hero-link {
    padding: 11px 10px;
  }
}
/* ----- TABLET ----- */
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(/img/hero/hero-tablet.png);
    padding-top: 300px;
    padding-bottom: 32px;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: url(/img/hero/hero-tablet@2x.png);
    }
  }
  .hero-container {
    gap: 187px;
  }
  .hero-title {
    font-size: 90px;
  }
  .hero-list {
    gap: 8px;
    margin-left: auto;
    justify-content: flex-end;
  }
  .hero-list-item {
    font-size: 16px;
    padding: 18px 16px;
    max-width: 55px;
    max-height: 55px;
  }
  .hero-list-item:first-child {
    padding: 18px 19px;
  }
  .hero-list-item:first-child + .hero-list-item {
    padding: 18px 18px;
  }
  .link-email {
    padding: 18px 24px;
    max-width: 223px;
    max-height: 55px;
  }
  .hero-link {
    padding: 18px;
  }
  .hero-list-item:first-child .hero-link {
    padding: 18px 20px;
  }
  .hero-list-item:nth-last-child(2) .hero-link {
    padding: 18px 17px;
  }
  .hero-list-item:last-child .hero-link {
    padding: 18px 23px;
  }
}

/* ----- DESKTOP ----- */
@media screen and (min-width: 1440px) {
  .hero {
    background-image: url(/img/hero/hero-desk.png);
  }

  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: url(/img/hero/hero-desk@2x.png);
    }
  }
  .hero-container {
    gap: 243px;
  }
  .hero-title {
    width: 1084px;
  }
}
