.reviews-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.reviews-list {
  margin-bottom: 32px;
  min-width: 0;
}

.reviews-section {
  padding-bottom: 64px;
  padding-top: 64px;
}

.reviews-list-item {
  box-sizing: border-box;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
}

.reviews-list-item-icon {
  margin-bottom: 32px;
  border-radius: 10px;
}

.reviews-list-item-title {
  margin-bottom: 8px;
}

.reviews-btn {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  justify-content: center;
  background-color: inherit;
}

.btn-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.reviews-list-item-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.reviews-list-item {
  min-height: 345px;
}
.swiper-container {
  width: 100%;
  overflow: hidden;
}

.review-icon {
  width: 24px;
  height: 24px;
}

.error-case {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  text-align: center;
}

.prev-icon,
.next-icon {
  stroke-width: 2px;
  stroke: #fafafa;
  fill: transparent;
}

.next-icon {
  rotate: 180deg;
}
.swiper-button-disabled {
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.swiper-button-disabled .next-icon {
  stroke: #3b3b3b;
  fill: transparent;
}

.swiper-button-disabled .prev-icon {
  stroke: #3b3b3b;
  fill: transparent;
}

@media screen and (min-width: 768px) {
  .reviews-section {
    padding-bottom: 96px;
    padding-top: 96px;
  }

  .reviews-btn {
    padding: 18px;
    width: 68px;
    height: 68px;
  }
  .review-icon {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews-section {
    padding-bottom: 164px;
    padding-top: 164px;
  }
}
