/* Базові стилі для футера */
.section-footer {
  display: flex;
  flex-direction: column;
  text-align: start;
  color: #fafafa;
  margin: 85px 32px;
}
.title-div {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin-bottom: 63px;
  /* padding-left: 32px; */
}
.avatar-footer {
  width: 44px;
  height: 44px;
}
.span-work-footer {
  color: #ed3b44;
}
.hero-title {
  font-size: 40px;
  margin: 0;
}
.together {
  font-size: 40px;
}
.contact-form {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  /* justify-content: space-around; */
  padding-left: 0px;
  gap: 4px;
}
.item-input {
  height: fit-content;
  width: fit-content;
}
.contact-form input::placeholder {
  color: #aea8a8;
  opacity: 1;
}
.item-input {
  border: none;
  border-bottom: 1px solid #635e5e;
  background: transparent;
  padding: 16px 0;
}
#comment {
  margin-bottom: 32px;
}
.send-btn {
  padding: 10px;
  margin-bottom: 64px;
  cursor: pointer;
  background-color: #ed3b44;
  color: #fff;
  border: none;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.send-btn:hover {
  background-color: #e0373f;
}
.contact-info {
  display: flex;
  text-align: start;
  gap: 4px;
  margin-top: 20px;
}
.contact-info a {
  border: 1px solid #635e5e;
  padding: 5px 15px;
  border-radius: 20px;
}
/* TABLET */
@media screen and(min-width: 768px) {
  .title-div {
    padding-left: 32px;
  }
}
@media screen and(max-width: 1440px) {
}
/* MOBILE */
@media screen and (max-width: 375px) {
  .section-footer {
    margin: 32px 16px;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }
  .contact-form input {
    width: 100%;
  }
  .send-btn {
    height: 100px;
    width: 100px;
  }
  .link-footer {
    font-size: 14px;
  }
}
