/* Базові стилі для футера */
.footer {
  display: flex;
  /* justify-content: center; */
}
.section-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: #fafafa;
  margin: 85px 32px;
}
.title-div {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin-bottom: 63px;
}
.avatar-footer {
  width: 44px;
  height: 44px;
}
.span-work-footer {
  color: #ed3b44;
}
.hero-title {
  font-size: 40px;
  margin: 0 15px;
}
.together {
  font-size: 40px;
}
/* form */
.contact-form {
  display: flex;
  flex-direction: row;
  gap: 64px;
}
.div-input {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.item-inputt::placeholder {
  color: #aea8a8;
  opacity: 1;
}
.item-input {
  border: none;
  border-bottom: 1px solid #635e5e;
  background: transparent;
  padding: 16px 0;
  height: fit-content;
  width: fit-content;
}
#comment {
  margin-bottom: 32px;
}
.send-btn {
  padding: 10px;
  margin-bottom: 64px;
  cursor: pointer;
  background-color: #ed3b44;
  color: #fff;
  border: none;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: relative;
  bottom: 40px;
}
.send-btn:hover {
  background-color: #e0373f;
}
.contact-info {
  display: flex;
  text-align: start;
  gap: 4px;
  margin-top: 20px;
}
.contact-info a {
  border: 1px solid #635e5e;
  padding: 5px 15px;
  border-radius: 20px;
}
.link-footer {
  font-size: 16px;
}
/* TABLET */
@media screen and(max-width: 767px) {
  .contact-form {
    display: flex;
    flex-direction: row;
    /* justify-content: start; */
    gap: 32px;
  }
  .div-input {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}
@media screen and(max-width: 1441px) {
  /* .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  } */
  .contact-form {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* gap: 64px; */
  }
  .div-input {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}
/* MOBILE */
@media screen and (max-width: 376px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .div-input {
    display: flex;
    flex-direction: column;
  }
  .section-footer {
    width: 100%;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }
  .contact-form input {
    width: 100%;
  }
  .send-btn {
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 0;
  }
  .link-footer {
    font-size: 13px;
  }
}
