<section id="about-me" class="about-me-section">
    <div class="container">
        <h2 class="about-me-title visually-hidden">About me</h2>
        <div class="presentation-container">
            <p class="presentation-summary">I work with people all over the world to create impressive and <span
                    class="color-word">functional</span>
                <span class="grey-word">websites</span> that
                reflect each client's unique
                personality.
            </p>

            <picture>
                <source srcset="
                                  /img/about-me/about-me-desktop.jpg    1x,
                                  /img/about-me/about-me-desktop@2x.jpg 2x
                                " media="(min-width: 1440px)" width="680" height="700" />

                <source srcset="
                                  /img/about-me/about-me-tablet.jpg    1x,
                                  /img/about-me/about-me-tablet@2x.jpg 2x
                                " media="(min-width: 768px)" width="704" height="700" />

                <source srcset="
                                  /img/about-me/about-me-mobile.jpg    1x,
                                  /img/about-me/about-me-mobile@2x.jpg 2x
                                " media="(max-width: 767px)" width="343" height="500" />

                <img class="img-about-me" src="/img/about-me/about-me-mobile.jpg" alt="Developer photo"
                    loading="lazy" />
            </picture>

        </div>
        <ul class="information-container accordion-container"></ul>
        <div class="hard-skills-container-wrapper">
            <div class="hard-skills-container hard-skills-swiper">
                <ul class="hard-skills-list swiper-wrapper"></ul>
                <!-- If we need navigation buttons -->
                <div class="hard-skills-navigation-button swiper-button-next">
                    <button type="button">
                        <svg class="arrow-right">
                            <use href="/img/sprite.svg#arrow-black"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>