<section id="benefits" class="benefits-section">
  <div class="container benefits-container">
    <h2 class="benefits-title">Benefits of working with me</h2>
    <div class="benefist-menu-container">
      <ul class="benefist-menu">
        <li class="benefist-item">
          <div class="benefist-icon-container">
            <svg class="benefits-icon" width="48" height="48">
              <use
                class="benefits-svg"
                href="/img/sprite.svg#expertise"
              ></use>
            </svg>
          </div>
          <h3 class="benefist-item-title">Expertise</h3>
          <p class="benefist-information">
            As a highly experienced developer, I have deep knowledge of
            programming and website development.
          </p>
        </li>
        <li class="benefist-item">
          <div class="benefist-icon-container">
            <svg class="benefits-icon" width="48" height="48">
              <use href="/img/sprite.svg#communication"></use>
            </svg>
          </div>
          <h3 class="benefist-item-title">Communication</h3>
          <p class="benefist-information">
            Understanding your needs and wants is my priority and I am always
            open to discussions and corrections.
          </p>
        </li>
        <li class="benefist-item">
          <div class="benefist-icon-container">
            <svg class="benefits-icon" width="48" height="48">
              <use href="/img/sprite.svg#art"></use>
            </svg>
          </div>
          <h3 class="benefist-item-title">Art</h3>
          <p class="benefist-information">
            Thanks to my creative nature, I am ready to accept challenges and
            help you bring your ideas to life.
          </p>
        </li>
        <li class="benefist-item">
          <div class="benefist-icon-container">
            <svg class="benefits-icon" width="48" height="48">
              <use href="/img/sprite.svg#urgent"></use>
            </svg>
          </div>
          <h3 class="benefist-item-title">Urgent execution</h3>
          <p class="benefist-information">
            I understand how important time is to you. Ready to work quickly and
            efficiently, without reducing the quality of work.
          </p>
        </li>
      </ul>

      <div class="benefist-button">
        <a class="benefist-button-link" href="#work-together">Order the project</a>
      </div>
    </div>
  </div>
</section>
