<section id="covers">
    <div class="covers-section container">
        <h2 class="visually-hidden">Section Covers</h2>
        <div class="covers">
            <ul class="covers-list">
                <li class="covers-list-item">
                    <img class="cover-photo" loading="lazy" src="./img/covers/Rectangle_1@1x.jpg"
                        srcset="./img/covers/Rectangle_1@1x.jpg 1x, ./img/covers/Rectangle_1@2x.jpg 2x" alt="powerpulse"
                        width="283" height="163">
                </li>
                <li class="covers-list-item">
                    <img class="cover-photo" loading="lazy" src="./img/covers/Rectangle_2@1x.jpg"
                        srcset="./img/covers/Rectangle_2@1x.jpg 1x, ./img/covers/Rectangle_2@2x.jpg 2x" alt="mimino"
                        width="283" height="163">
                </li>
                <li class="covers-list-item">
                    <img class="cover-photo" loading="lazy" src="./img/covers/Rectangle_3@1x.jpg"
                        srcset="./img/covers/Rectangle_3@1x.jpg 1x, ./img/covers/Rectangle_3@2x.jpg 2x" alt="chego"
                        width="283" height="163">
                </li>
            </ul>
            <ul class="covers-list">
                <li class="covers-list-item">
                    <img class="cover-photo" loading="lazy" src="./img/covers/Rectangle_4@1x.jpg"
                        srcset="./img/covers/Rectangle_4@1x.jpg 1x, ./img/covers/Rectangle_4@2x.jpg 2x" alt="wallet"
                        width="283" height="163">
                </li>
                <li class="covers-list-item">
                    <img class="cover-photo" loading="lazy" src="./img/covers/Rectangle_5@1x.jpg"
                        srcset="./img/covers/Rectangle_5@1x.jpg 1x, ./img/covers/Rectangle_5@2x.jpg 2x"
                        alt="starlightstudio" width="283" height="163">
                </li>
                <li class="covers-list-item">
                    <img class="cover-photo" loading="lazy" src="./img/covers/Rectangle_6@1x.jpg"
                        srcset="./img/covers/Rectangle_6@1x.jpg 1x, ./img/covers/Rectangle_6@2x.jpg 2x" alt="vyshyvanka"
                        width="283" height="163">
                </li>
            </ul>
            <ul class="covers-list">
                <li class="covers-list-item">
                    <img class="cover-photo" loading="lazy" src="./img/covers/Rectangle_7@1x.jpg"
                        srcset="./img/covers/Rectangle_7@1x.jpg 1x, ./img/covers/Rectangle_7@2x.jpg 2x"
                        alt="green.harvest" width="283" height="163">
                </li>
                <li class="covers-list-item">
                    <img class="cover-photo" loading="lazy" src="./img/covers/Rectangle_8@1x.jpg"
                        srcset="./img/covers/Rectangle_8@1x.jpg 1x, ./img/covers/Rectangle_8@2x.jpg 2x"
                        alt="energy.flow" width="283" height="163">
                </li>
                <li class="covers-list-item">
                    <img class="cover-photo" loading="lazy" src="./img/covers/Rectangle_9@1x.jpg"
                        srcset="./img/covers/Rectangle_9@1x.jpg 1x, ./img/covers/Rectangle_9@2x.jpg 2x" alt="fruitbox"
                        width="283" height="163">
                </li>
            </ul>
            <ul class="covers-list">
                <li class="covers-list-item">
                    <img class="cover-photo" loading="lazy" src="./img/covers/Rectangle_10@1x.jpg"
                        srcset="./img/covers/Rectangle_10@1x.jpg 1x, ./img/covers/Rectangle_10@2x.jpg 2x"
                        alt="englishexcellence" width="283" height="163">
                </li>
            </ul>
        </div>
    </div>
</section>