<section id="covers" class="container">
    <div class="covers-section">
        <h2 class="visually-hidden">Section Covers</h2>
        <div class="covers">
            <ul class="covers-list">
                <li class="covers-list-item">
                    <img class="cover-photo" loading="lazy" src="./img/covers/Rectangle_1.jpg" alt="powerpulse"
                        width="283" height="163">
                </li>
                <li class="covers-list-item">
                    <img class="cover-photo" loading="lazy" src="./img/covers/Rectangle_2.jpg" alt="mimino" width="283"
                        height="163">
                </li>
                <li class="covers-list-item">
                    <img class="cover-photo" loading="lazy" src="./img/covers/Rectangle_3.jpg" alt="chego" width="283"
                        height="163">
                </li>

            </ul>
            <ul class="covers-list">

                <li class="covers-list-item">
                    <img class="cover-photo" loading="lazy" src="./img/covers/Rectangle_4.jpg" alt="wallet" width="283"
                        height="163">
                </li>
                <li class="covers-list-item">
                    <img class="cover-photo" loading="lazy" src="./img/covers/Rectangle_5.jpg" alt="starlightstudio" width="283"
                        height="163">
                </li>
                <li class="covers-list-item">
                    <img class="cover-photo" loading="lazy" src="./img/covers/Rectangle_6.jpg" alt="vyshyvanka" width="283"
                        height="163">
                </li>

            </ul>
            <ul class="covers-list">
                <li class="covers-list-item">
                    <img class="cover-photo" loading="lazy" src="./img/covers/Rectangle_7.jpg" alt="green.harvest" width="283"
                        height="163">
                </li>
                <li class="covers-list-item">
                    <img class="cover-photo" loading="lazy" src="./img/covers/Rectangle_8.jpg" alt="energy.flow" width="283"
                        height="163">
                </li>
                <li class="covers-list-item">
                    <img class="cover-photo" loading="lazy" src="./img/covers/Rectangle_9.jpg" alt="fruitbox" width="283"
                        height="163">
                </li>

            </ul>
            <ul class="covers-list">
                <li class="covers-list-item">
                    <img class="cover-photo" loading="lazy" src="./img/covers/Rectangle_10.jpg" alt="englishexcellence" width="283"
                        height="163">
                </li>
            </ul>
        </div>
    </div>
</section>