
    <section class="faq-section" id="faq">
        <h2>FAQ</h2>
        <ul class="faq-list">
            <li class="faq-item">
                <button class="faq-question">What programming languages are most often used in your project?</button>
                <div class="faq-answer">
                    <p>In the field of web development, there are various technologies and programming languages.
                        Typically, this includes a combination of frontend (client side) and backend (server side)
                        languages.</p>
                </div>
            </li>
            <li class="faq-item">
                <button class="faq-question">What are the deadlines for the project?</button>
                <div class="faq-answer">
                    <p>The terms of project implementation depend to a large extent on a number of factors, such as the
                        scope of the project, its complexity, and the availability of resources. Determining exact
                        deadlines is a difficult task, and it usually occurs during the planning phase of the project.
                    </p>
                </div>
            </li>
            <li class="faq-item">
                <button class="faq-question">What payment methods do you accept?</button>
                <div class="faq-answer">
                    <p>Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment
                        systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and
                        others.</p>
                </div>
            </li>
            <li class="faq-item">
                <button class="faq-question">How can I contact you?</button>
                <div class="faq-answer">
                    <p>In the field of web development, there are various technologies and programming languages.
                        Typically, this includes a combination of frontend (client side) and backend (server side)
                        languages.</p>
                </div>
            </li>
            <li class="faq-item">
                <button class="faq-question">Do you provide advice or support?</button>
                <div class="faq-answer">
                    <p>The terms of project implementation depend to a large extent on a number of factors, such as the
                        scope of the project, its complexity, and the availability of resources. Determining exact
                        deadlines is a difficult task, and it usually occurs during the planning phase of the project.
                    </p>
                </div>
            </li>
            <li class="faq-item">
                <button class="faq-question">What does the process of developing a software product look like from idea
                    to implementation?</button>
                <div class="faq-answer">
                    <p>Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment
                        systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and
                        others.</p>
                </div>
            </li>
        </ul>
    </section>
    


</html>