<section class="faq-section" id="faq">
  <div class="container">
    <h2 class="faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-item ac">
        <h3 class="ac-header">
          <button type="button" class="toggle-btn ac-trigger">
            <span
              >What programming languages are most often used in your
              project?</span
            >
            <svg class="icon-btn-faq">
              <use href="/img/sprite.svg#icon-open"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="faq-content ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="faq-item ac">
        <h3 class="ac-header">
          <button type="button" class="toggle-btn ac-trigger">
            <span>How can I contact you?</span>
            <svg class="icon-btn-faq">
              <use href="/img/sprite.svg#icon-open"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="faq-content ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="faq-item ac">
        <h3 class="ac-header">
          <button type="button" class="toggle-btn ac-trigger">
            <span>What are the deadlines for the project?</span>
            <svg class="icon-btn-faq">
              <use href="/img/sprite.svg#icon-open"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="faq-content ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="faq-item ac">
        <h3 class="ac-header">
          <button type="button" class="toggle-btn ac-trigger">
            <span>Do you provide advice or support?</span>
            <svg class="icon-btn-faq">
              <use href="/img/sprite.svg#icon-open"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="faq-content ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="faq-item ac">
        <h3 class="ac-header">
          <button type="button" class="toggle-btn ac-trigger">
            <span>What payment methods do you accept?</span>
            <svg class="icon-btn-faq">
              <use href="/img/sprite.svg#icon-open"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="faq-content ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>

      <li class="faq-item ac">
        <h3 class="ac-header">
          <button type="button" class="toggle-btn ac-trigger">
            <span
              >What does the process of developing a software product look like
              from idea to implementation?</span
            >
            <svg class="icon-btn-faq">
              <use href="/img/sprite.svg#icon-open"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="faq-content ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
