<section class="faq-section" id="faq">
  <div class="faq-container">
    <ul class="faq-list">
      <li class="faq-item is-active" style="animation-duration: 0s">
        <p>What programming languages are most often used in your project?</p>

        <button class="toggle-btn">
          <svg class="icon-btn-faq">
            <use href="/img/sprite.svg#icon-open"></use>
          </svg>
        </button>

        <div class="faq-content">
          <p>
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="faq-item">
        <p>How can I contact you?</p>
        <button class="toggle-btn">
          <svg class="icon-btn-faq" width="32" height="32">
            <use href="/img/sprite.svg#icon-open"></use>
          </svg>
        </button>
        <div class="faq-content">
          <p>
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="faq-item">
        <p>What are the deadlines for the project?</p>
        <button class="toggle-btn">
          <svg class="icon-btn-faq" width="32" height="32">
            <use href="/img/sprite.svg#icon-open"></use>
          </svg>
        </button>
        <div class="faq-content">
          <p>
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="faq-item">
        <p>Do you provide advice or support?</p>
        <button class="toggle-btn">
          <svg class="icon-btn-faq" width="32" height="32">
            <use href="/img/sprite.svg#icon-open"></use>
          </svg>
        </button>
        <div class="faq-content">
          <p>
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="faq-item">
        <p>What payment methods do you accept?</p>
        <button class="toggle-btn">
          <svg class="icon-btn-faq" width="32" height="32">
            <use href="/img/sprite.svg#icon-open"></use>
          </svg>
        </button>
        <div class="faq-content">
          <p>
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>

      <li class="faq-item">
        <p>
          What does the process of developing a software product look like from
          idea to implementation?
        </p>
        <button class="toggle-btn">
          <svg class="icon-btn-faq" width="32" height="32">
            <use href="/img/sprite.svg#icon-open"></use>
          </svg>
        </button>
        <div class="faq-content">
          <p>
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
  <script src="/src/js/faq/accordion.min.js"></script>
</section>

<!-- <ul class="information-container accordion-container">
  <li
    class="information-item ac js-enabled is-active"
    id="ac-0"
    style="animation-duration: 0s"
  >
    <h2 class="ac-header">
      <button
        type="button"
        class="information-item-button ac-trigger"
        id="ac-trigger-0"
        role="button"
        aria-controls="ac-panel-0"
        aria-disabled="false"
        aria-expanded="true"
      >
        <span>ABOUT ME<span></span></span>
        <svg class="description-open-icon">
          <use href="/img/sprite.svg#icon-open"></use>
        </svg>
      </button>
    </h2>
    <div
      class="ac-panel"
      id="ac-panel-0"
      role="region"
      aria-labelledby="ac-trigger-0"
      style="transition-duration: 250ms; height: auto"
    >
      <ul class="description-list ac-text">
        <li class="information-description-item" style="animation-duration: 0s">
          I am Lloyd Jefferson, a talented programmer with extensive expertise
          in software development. I have an understanding of different
          programming languages ​​and technologies, always ready to improve my
          skills. I always follow the latest trends and look for unconventional,
          creative solutions to problems. I have a high level of analytical
          skills and am able to effectively solve even the most difficult tasks
          encountered on the way.
        </li>
        <li class="information-description-item" style="animation-duration: 0s">
          Able to work both independently and in a team.I can effectively
          cooperate with colleagues, exchanging ideas and finding optimal
          solutions.Professional maturity allows you to calmly cope with
          challenges and stressful situations, while maintaining a high quality
          of work.I am always looking for opportunities for self - imp r
          ovement.I atively study new technologies and practices to stay abreast
          of the latest innovations.I hve a strong understanding of various
          programming languages, frameworks and architectural concepts that
          allow me to create efficient and scalable software.
        </li>
      </ul>
    </div>
  </li>
  <li
    class="information-item ac js-enabled"
    id="ac-1"
    style="animation-duration: 0s"
  >
    <h2 class="ac-header">
      <button
        type="button"
        class="information-item-button ac-trigger"
        id="ac-trigger-1"
        role="button"
        aria-controls="ac-panel-1"
        aria-disabled="false"
        aria-expanded="false"
      >
        <span>ROLE<span></span></span>
        <svg class="description-open-icon">
          <use href="/img/sprite.svg#icon-open"></use>
        </svg>
      </button>
    </h2>
    <div
      class="ac-panel"
      id="ac-panel-1"
      role="region"
      aria-labelledby="ac-trigger-1"
      style="transition-duration: 250ms; height: 0px"
    >
      <ul class="description-list ac-text">
        <li class="information-description-item" style="animation-duration: 0s">
          Frontend development
        </li>
        <li class="information-description-item" style="animation-duration: 0s">
          HeadlessCMS,Wordpress
        </li>
        <li class="information-description-item" style="animation-duration: 0s">
          Blender(enjoy)
        </li>
      </ul>
    </div>
  </li>
  <li
    class="information-item ac js-enabled"
    id="ac-2"
    style="animation-duration: 0s"
  >
    <h2 class="ac-header">
      <button
        type="button"
        class="information-item-button ac-trigger"
        id="ac-trigger-2"
        role="button"
        aria-controls="ac-panel-2"
        aria-disabled="false"
        aria-expanded="false"
      >
        <span>EDUCATION<span></span></span>
        <svg class="description-open-icon">
          <use href="/img/sprite.svg#icon-open"></use>
        </svg>
      </button>
    </h2>
    <div
      class="ac-panel"
      id="ac-panel-2"
      role="region"
      aria-labelledby="ac-trigger-2"
      style="transition-duration: 250ms; height: 0px"
    >
      <ul class="description-list ac-text">
        <li class="information-description-item" style="animation-duration: 0s">
          2018 - 2019 / Frontend Development Diploma, GoIT IT <br />
          School, New York
        </li>
        <li class="information-description-item" style="animation-duration: 0s">
          2019 - 2020 / Advanced Web Development Certificate, GoIT IT <br />
          School, New York
        </li>
        <li class="information-description-item" style="animation-duration: 0s">
          2020 - 2022 / Advanced Blender Animation Techniques, Udemy
        </li>
      </ul>
    </div>
  </li>
</ul> -->
