<!-- ======================= HEADER ======================= -->
<header class="header">
  <div class="header-container">
    <nav class="header-nav">
      <a class="header-link-logo" href="/index.html">
        <img
          class="header-logo-img"
          src="/img/header/logo.png"
          srcset="/img/header/logo@2x.png 2x"
          alt="logo image"
          width="80"
          height="80"
        />
        <p class="header-logo-text">jefferson*</p>
      </a>
      <!-- ================ HIDDEN PART ================= -->
      <div class="hidden">
        <button class="header-menu header-menu-js">Menu</button>
        <ul class="header-list">
          <li class="header-list-item">
            <a href="#about-me" class="header-nav-link">About me</a>
          </li>
          <li class="header-list-item">
            <a href="#benefits" class="header-nav-link">Benefits</a>
          </li>
          <li class="header-list-item">
            <a href="#projects" class="header-nav-link">Projects</a>
          </li>
          <li class="header-list-item">
            <a href="#faq" class="header-nav-link">FAQ</a>
          </li>
        </ul>
      </div>
      <button class="header-burger-button" type="button">
        <svg class="svg" width="28" height="28">
          <use href="/img/sprite.svg#burger"></use>
        </svg>
      </button>
      <a class="header-link-anchor hidden" href="#work">Order the project</a>
    </nav>
  </div>
  <!-- ====================== MOBILE MENU ==================== -->
  <div class="mobile-bg">
    <div class="mobile">
      <button class="mobile-menu-close" type="button">
        <svg class="svg" width="28" height="28">
          <use href="/img/sprite.svg#close"></use>
        </svg>
      </button>
      <ul class="mobile-menu-list">
        <li class="mobile-list-item">
          <a href="#about-me" class="header-nav-link">About me</a>
        </li>
        <li class="mobile-list-item">
          <a href="#benefits" class="header-nav-link">Benefits</a>
        </li>
        <li class="mobile-list-item">
          <a href="#projects" class="header-nav-link">Projects</a>
        </li>
        <li class="mobile-list-item">
          <a href="#faq" class="header-nav-link">FAQ</a>
        </li>
      </ul>
      <a class="mobile-anchor" href="#work-together">Order the project</a>
    </div>
  </div>
</header>
