<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      <span class="title-animation">Hello.<br/></span>
      <span class="title-animation">I'm Fullstack developer</span>
      <span class="title-animation">Lloyd Jefferson.</span>
    </h1>
    <ul class="hero-list">
      <li class="hero-list-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="hero-link"
          title="Link to Instagram"
          target="_blank"
          rel="noopener noreferrer"
          >IG</a
        >
      </li>
      <li class="hero-list-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="hero-link"
          title="Link to Facebook"
          target="_blank"
          rel="noopener noreferrer"
          >FB</a
        >
      </li>
      <li class="hero-list-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="hero-link"
          title="Link to YouTube"
          target="_blank"
          rel="noopener noreferrer"
          >YT</a
        >
      </li>
      <li class="hero-list-item">
        <a
          href="https://github.com/Johnkonstantin88/project-108-js-group-09
          "
          class="hero-link"
          title="Link to GitHub"
          target="_blank"
          rel="noopener noreferrer"
          >GH</a
        >
      </li>
      <li class="hero-list-item link-email">
        <a
          href="mailto:lloydjefferson@gmail.com"
          class="hero-link"
          title="Send an email"
          rel="noopener noreferrer"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
