<section class="projects">
  <div class="container">
    <div class="wrap-projects">
      <h2 class="projects-titel" id="projects">Projects</h2>
      <div class="swiper">
        <ul class="projects-list swiper-wrapper">
          <li class="projects-list-item swiper-slide">
            <div class="wrap-project-info">
              <ul class="hashtags">
                <li class="hashtags-item">
                  <p class="hashtag-item-text">#react</p>
                </li>
                <li class="hashtags-item">
                  <p class="hashtag-item-text">#js</p>
                </li>
                <li class="hashtags-item">
                  <p class="hashtag-item-text">#node js</p>
                </li>
                <li class="hashtags-item">
                  <p class="hashtag-item-text">#git</p>
                </li>
              </ul>
              <h3 class="project-info-text">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                class="see-project"
                target="_blank"
                href="https://github.com/Johnkonstantin88/project-108-htmlcss-group-11"
                >See project</a
              >
            </div>
            <div class="wrap-project-img">
              <picture class="project-img">
                <source
                  srcset="
                    /img/projects/project-first.jpg    1x,
                    /img/projects/project-first@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                  width="614"
                  height="385"
                />
                <source
                  srcset="
                    /img/projects/project-first-mobile.jpg    1x,
                    /img/projects/project-first-mobile@2x.jpg 2x
                  "
                  media="(min-width: 375px)"
                  width="311"
                  height="195"
                />
                <img
                  src="/img/projects/project-first-mobile.jpg"
                  alt="project-img"
                  width="311"
                  height="195"
                  loading="lazy"
                />
              </picture>
            </div>
          </li>
          <li class="projects-list-item swiper-slide"></li>
          <li class="projects-list-item swiper-slide"></li>
        </ul>
      </div>
      <div class="wrap-btn-projects">
        <button class="btn-projects-left">-</button>
        <button class="btn-projects-right">+</button>
      </div>
    </div>
  </div>
</section>
