<section id="reviews" class="section reviews-section">
  <div class="container slider-container">
    <h2 class="reviews-title">REVIEWS</h2>
    <div class="swiper-container">
      <ul class="reviews-list swiper-wrapper"></ul>
    </div>
    <div class="btn-container">
      <button type="button" class="reviews-btn review-swiper-button-prev">
        <svg class="prev-icon" width="32" height="32">
          <use href="../img/sprite.svg#arrow-black"></use>
        </svg>
      </button>

      <button type="button" class="reviews-btn review-swiper-button-next">
        <svg class="next-icon" width="32" height="32">
          <use href="../img/sprite.svg#arrow-black"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
