<section class="footer">
<section class="section-footer">
  <!-- Заголовок секції -->
  <div class="title-div">
    <img src="/img/image.png" alt="Avatar" class="avatar-footer" />
    <h2 class="hero-title">
      LET’S <span class="span-work-footer">WORK</span>
    </h2>
    <p class="together">TOGETHER</p>
  <!-- <h2 class="together">TOGETHER</h2> -->
</div>
  <!-- Форма -->
  
  <form class="contact-form">
    <div class="div-input">
        <input class="item-input"
      type="email"
      id="email"
      name="email"
      placeholder="clients@gmail.com"
      pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
      maxlength="50"
      required
    />
    <input class="item-input"
      type="text"
      id="comment"
      name="comment"
      placeholder="comments"
      required
    />
    </div>
    <button type="submit" class="send-btn ">Send</button>
  </form>
  
  <!-- Контактна інформація -->
  <div class="contact-info">
    <a class="link-footer" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
    <a class="link-footer" href="tel:+380111111111">+380 11 1111 11 11</a>
  </div>
  </div>
</section>
</section>
 <!-- Модальне вікно -->
  <!-- <div id="modal" class="modal">
    <div class="modal-content">
      <span class="close-btn">&times;</span>
      <h2>Thank you for your interest in cooperation!</h2>
      <p>We have received your message and will get back to you soon.</p>
    </div> -->